<html>
<head>
    <title>OpenStreetMap.by - Беларусь</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="$description"/>
    <link rel="image_src" href="$snippeturl"/>

    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />
    <script src="/static/js/openmaptiles-language.js"></script>

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css"/>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

    <link rel="search" href="http://openstreetmap.by/opensearch.xml"
          type="application/opensearchdescription+xml"
          title="OpenStreetMap.by"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <link href="/static/css/smallscreen.css" rel="stylesheet" media="only screen and (max-width:1024px)"/>


    <script src="http://www.google.com/jsapi"></script>
    <script src="/static/js/search.js"></script>
    <script src="/static/js/i18n.js"></script>
    <script src="/static/js/map_click.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.longclick.js"></script>
    <script src="/static/js/jquery.contextmenu.js"></script>
    <script src="/static/js/context.js"></script>

    <script language="javascript" type="text/javascript">
var mmap;

var json_in_progress = false;
locale="$locale";

    </script>
</head>

<body marginheight="0" marginwidth="0">

<img src="/static/img/uho_on_white.png" id="uho"/>
<table border="0" cellspacing="0" cellpadding="0" width="100%" height="100%">
    <tr>
        <td width="250" valign="top" align="top" id="left_panel">
            <table height="100%">
                <tr height="256" id="logo_row">
                    <td><img src="/static/img/logoosmby256.png" width="256" height="256" id="osmbylogo"/></td>
                </tr>
                <tr>
                    <td align="center" valign="top"><b><s>OpenStreetMap Belarus</s></b></td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table width="100%" height="100%">
                <tr>
                    <td class="topline">
                        <div class="topmenu">
                            <a href="https://download.openstreetmap.by/">download</a>
                            <a href="http://wiki.osm.org/Belarus">about</a>

                            <span class="lang">
          <a href="/?lang=en"><img src="/static/img/png/gb.png"></a>
          <a href="/?lang=be"><img src="/static/img/png/by.png"></a>
          <a href="/?lang=be-tarask"><img src="/static/img/png/be-tarask.png"></a>
          <a href="/?lang=ru"><img src="/static/img/png/ru.png"></a>
        </span>
                        </div>

                        <div class="search">
                            <input type="text" style="width:300;" tabindex="1" id="searchbox"
                                   onkeydown="if (event.keyCode == 13) search()"><input type="submit" tabindex="2"
                                                                                        value="»" onclick="search()">
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>
                        <div id="map" style="width: 100%; height: 100%; padding:0; spacing:0"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div id="embeddialog" style="font-size:medium; display: none">

    <form>
        <span><input type="checkbox" id="embed_crosshair" value="true"><label
                for="embed_crosshair">Crosshair</label></span>
        <span><select id="embed_lang">
  <option value="en">English</option>
  <option value="ru">Русский</option>
  <option value="be" selected>Беларуская</option>
</select></span>
        <span>
<input type="checkbox" id="embed_marker" value="true"><label for="embed_marker">Marker</label></span>
        <div id="embed_marker_label_div"><s>Marker label:</s><input type="text" value="" id="embed_marker_label"
                                                                    style="width:100%"/></div>

    </form>

    <s>Copy this text into your page's HTML code:</s><br/>

    <textarea id="embedtext" style="width:100%;font-size:medium" rows="5" readonly></textarea></div>

<script><!--
  mmap = new mapboxgl.Map({
    container: 'map',
    style: 'styles/bright/style.json',
    center: [$longitude, $latitude], //lng lat
    zoom: $zoom,
    hash: true
  });
 if (locale === 'en') {
    mmap.setLanguage(locale, false);
 } else {
    mmap.setLanguage(locale, true);
 }

//-->
</script>
<script src="/static/js/i18n.js"></script>
<script src="/static/js/helper.js"></script>
</body>
</html>
